html body {
  font-family: "Montserrat", sans-serif;
}

/* Documentaion Styling */

.documentation {
  display: flex;
  justify-content: center;
}

.documentationContainer {
  width: 90%;
}

.docTitleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.docContainer {
  margin-top: 50px;
}

.docHeadings {
  border: solid black;
  font-weight: bold;
}

.docItem {
  border: solid black;
  font-weight: 400;
}

.docItemHeading {
  font-weight: bold;
}

.bondImageContainer {
  display: flex;
  justify-content: center;
}

.bondImage {
  width: 70%;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 10px;
}
